.main-container {
  padding-bottom: 10px;
}

div .mb10 {
  margin-bottom: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*marge pour le footer de taille fixe*/
  margin-bottom: 76px;
}

h1 {
  text-align: center;
}

.stickyfooter {
  position : absolute;
  bottom : 0;
  width: 100%;
  /*taille assez elevee pour contenir tout les elements du footer en cas de compression horizontale*/
  height: 76px;
  background-color: #eee;
}

 footer .licensing {
  padding-top: 6px;
  font-size: 12px;
  text-align: center;
}

footer .timestamp {
  font-size: 10px;
  font-style: italic;
}
