div .mb10 {
  margin-bottom: 10px;
}

.stickyfooter {
  position : absolute;
  bottom : 0;
  width: 100%;
  height: 28px;
  background-color: #eee;
}

 footer .licensing {
  padding-top: 6px;
  font-size: 12px;
}
